<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list1</title>
</head>
<body>
    <h1>목차 페이지</h1>
    <div>
        <a href="{%url 'new'%}">일기 쓰기</a>
    </div>
    <div>
    {% for diary in diaries %}
        <a href="{%url 'detail' diary.id%}">{{diary.title}}</a>
        <br>
    {% endfor %}
    </div>

    

    <a href="{%url 'home'%}">일기장 커버로 들어가기</a>
</body>
</html>